body {
    /* background: linear-gradient(to right, #e79081, #ededf3); */
    background-color: #555879;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'b nazanin';
}

h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: b nazanin;
    color: rgb(7, 5, 10);
}
u {
    color: #1405ee;
    font-family: 'b nazanin';
}
h4 {
    margin-right: 30px;
    font-size: 18px;
    font-family: 'b nazanin';
}
.javad {
    background: linear-gradient(to right, #DED3C4, #545de6);
   background-color: #DED3C4;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: black 0px 0px 2px;
    font-family: 'b nazanin';
}

b {
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'b nazanin';
    color: rgb(0, 0, 0);
    
}

header {
    padding: 26px;
    background: linear-gradient(to right, #5f6170, #22243d);
    font-size: 15px;
    margin-top: -8px;
    margin-right: -8px;
}
nav{background-color: #98A1BC; 
text-align: center;
padding: 10px;
}
a{
margin: 015px;
color: black;
font-weight: bold;
font-family: 'b nazanin';
}
footer{
    background-color: #F4EBD3;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-family: 'b nazanin';
}
.mohamad {
    border: 1px solid wheat;
    padding: 20px;
    border-radius: 10px;
    background: #98A1BC;
    box-shadow: black 0px 2px 5px;
    width: 280px;
    text-align: right;
}

.mjn {
    color:black;
    margin-bottom: 10px;
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}

.mamad {
    color: black;
    font-size: 15px;
    margin: 8px 0;
}

.mhn {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
img{
    width: 100%;
    height: 300px;
    object-fit:fill;
    border-radius: 8px;
    transition:transform 0.3s ; 
}
img:hover{
    transform: scale(1.1);
}
.nasro{
margin: 20px;
    font-size: 18px;
    font-family: b nazanin;
    font-weight: bold;
}
section{
    margin: 20px;
}
