body{
    background: linear-gradient(to right, #e79081, #ededf3);
}
h1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    padding: 26px;
    background: linear-gradient(to right, #eb0808, #1405ee);
    font-size: 30px;
    font-weight: bold;
    font-family: b nazanin;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: b nazanin;
    color: rgb(74, 8, 226);
}

p {
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: b nazanin;
    color: rgb(14, 14, 19);
}

h4 {
    margin: 16px;
    margin-right: 35px;
    font-size: 20px;
    font-weight: bold;
    font-family: b nazanin;
    color: rgb(88, 2, 2);
}

h5 {
    margin: 18px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    font-family: b nazanin;
    color: rgb(5, 51, 13);
}