body{
    background: linear-gradient(to right, #e79081, #ededf3);
    margin: 0px;
    padding: 0px;
}
h1 {  
    margin-top: -8px;
    margin-right: -8px;
    text-align: center;
    padding: 26px;
    background: linear-gradient(to right, #eb0808, #1405ee);
    font-size: 30px;
    font-weight: bold;
    font-family: 'b nazanin';
}
h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: b nazanin;
    color: rgb(7, 5, 10);
} 

p {
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'b nazanin';
    color: rgb(0, 0, 0);
}
u{
    color: #1405ee;
    font-family: 'b nazanin';
}
h5 {
    margin: 18px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'b nazanin';
    color: rgb(5, 51, 13);
}
h4{
    margin-right:30px;
    font-size: 18px;
    font-family: 'b nazanin';
}

.mohamad{
         background: linear-gradient(to right, #ee674f, #8888e7);

    text-align: center;
    margin-top: -22px;
    margin-right: -8px;
    padding: 5px;
    font-size: 17px;
    font-family: 'b nazanin';
    font-size: 19px;
}
.javad{
     background: linear-gradient(to right, #df7765, #d6d6f1);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: black 0px 0px 2px;
    font-family: 'b nazanin';
}
b{
      margin: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'b nazanin';
    color: rgb(0, 0, 0);
}